.env
Backend/venv/
Backend/.venv/
**/__pycache__/
**/*.py[cod]
**/.mypy_cache/
.mypy_cache/
init.sql
.env_docker_compose
uploads

Backend/uploads/avatar
Backend/uploads/products

frontend/node_modules/
frontend/dist/
frontend/.env
